$color1: #635c73;
$color2: #323232;
$color3: #848e97;
$color4: #dfe2e6;
$color5: #bcc1c7;
$color6: #8d81ac;
$color7: #f4f4f4;
$color8: #ffffff;
$color9: #605262;
$color10: #6A5662;
$color11: #48344b;
$color12: #402e43;
$color13: #635265;
$color14: #645756;
$color-white:#FFFFFF;
$color-ping:#8D81AC;
